*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;

}

:root{
    /* Backgrounds */
    --primary-bg-color: #1f0021;

    /* text color */
    --text-primary: #f8f5ff;


    /* btn */
    --primary-btn-bg-color: #F00004;



    /* space variables */

    --space-xs: 0.25rem; /* 4px */
    --space-sm: 0.5rem; /* 8px */
    --space-md: 1rem; /* 16px */
    --space-lg: 1.5rem; /* 24px */
    --space-xl: 2rem; /* 32px */
    --space-2xl: 2.5rem; /* 40px */
    --space-3xl: 3rem; /* 48px */
}

body{
    background-color:var(--primary-bg-color) ;
}
#navBar{
    height: var(--space-3xl);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.rightNavDiv, .leftNavDiv{
    color: var(--text-primary);
    margin: var(--space-lg);
    
}

.btn{
    background-color: var(--primary-btn-bg-color);
    border:  none;
    outline: none;
    border-radius: var(--space-sm);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    color: var(--text-primary);
}

.btn:hover {
    transform: scale(0.95);
}

.btn:active {
    transform: scale(1);
}
#addNewTaskBtn{
    padding: 0.5rem;
    
}

.leftNavDiv{
    font-size: 2rem;
}
