*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;

}

:root{
    /* Backgrounds */
    --primary-bg-color: #130007;
    --secondary-bg-color: #380116;
    --columns-heading-bg-color:#4b011d;
    

    /* text color */
    --text-primary: #f8f5ff;


    /* btn */
    --primary-btn-bg-color: #F00004;

    /* border-radius */
    --radius-xs: 0.125rem;  /* 2px */
    --radius-sm: 0.25rem;   /* 4px */
    --radius-md: 0.5rem;    /* 8px */
    --radius-lg: 0.75rem;   /* 12px */
    --radius-xl: 1rem;      /* 16px */
    --radius-2xl: 1.5rem;   /* 24px */
    --radius-3xl: 2rem;     /* 32px */


    /* space variables */

    --space-xs: 0.25rem; /* 4px */
    --space-sm: 0.5rem; /* 8px */
    --space-md: 1rem; /* 16px */
    --space-lg: 1.5rem; /* 24px */
    --space-xl: 2rem; /* 32px */
    --space-2xl: 2.5rem; /* 40px */
    --space-3xl: 3rem; /* 48px */
}

body{
    background-color:var(--primary-bg-color) ;
}
#navBar{
    height: var(--space-3xl);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.rightNavDiv, .leftNavDiv{
    color: var(--text-primary);
    margin: var(--space-lg);
    
}

.btn{
    background-color: var(--primary-btn-bg-color);
    border:  none;
    outline: none;
    border-radius: var(--radius-md);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    color: var(--text-primary);
}

.btn:hover {
    transform: scale(0.95);
}

.btn:active {
    transform: scale(1);
}
#addNewTaskBtn{
    padding: 0.5rem;
    
}

.leftNavDiv{
    font-size: 2rem;
}

.columns{

    height: 35rem;
    width: 25rem;
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    border-radius: var(--radius-md);
    color: var(--text-primary);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.hero{
    display: flex;
    justify-content: space-around;
}

.heading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--space-lg);
    background-color: var(--columns-heading-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
}

.left,.right{
    margin: var(--space-sm);
}

.allTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    margin-top: var(--space-lg);;
    width: 100%;

    
}

.task{
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-md);
    width: 100%;
    height: auto;
    padding: var(--space-xs);
    background-color: #5d0124;
    cursor: grab;
    overflow-wrap: break-word;
    word-wrap: break-word;
    user-select: none;
    -webkit-user-drag: element;
}

.delBtn{
    width: 4rem;
    padding: var(--space-xs);
    align-self: flex-end;
}

.drag{
    transform: scale(1.05);
    
}